.container {
  width: 100%auto;
  height: 100px;
  background-color: #06114f;
  display: flex;
}
.wrapper {
  display: grid;
  z-index: 1;

  width: 100%auto;

  padding: 0 24px;
  justify-content: center;
  margin: auto;
  display: flex;
}

.row {
  display: grid;
  grid-auto-columns: minmax(auto, 1fr);
  align-items: center;
  grid-template-areas: "col1 col1" "col2 col2";
  margin: auto;
}
.p1 {
  margin-bottom: 5px;
  padding: 0 15px;
  grid-area: col1;
  justify-content: center;
  margin: auto;
}
.p2 {
  padding: 0 15px;
  grid-area: col2;
  color: white;
}
.icons {
  padding: 7px;
}
